<div class="container">
  <!-- Nav tabs -->
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="largecap-tab" data-toggle="tab" href="#largecap" role="tab" aria-controls="largecap" aria-selected="true">Large Cap</a>
    </li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="largecap" role="tabpanel" aria-labelledby="largecap-tab">
      <br/>
      <h5>Large Cap Stocks </h5>
      
      <br/>
            
              <table class="table table-bordered table-hover"   data-toggle="table" data-pagination="true"  data-filter-control="true">
                <thead class="thead-dark">
                  <tr>
                    <th data-sortable="true" data-field="symbol" data-filter-control="select">Symbol</th>
                    <th data-sortable="true" data-field="stock_description" data-filter-control="select">Company</th>
                  
                    <th data-sortable="true" data-field="industry" data-filter-control="select">Industry</th>

                    <th data-sortable="true" data-field="current_price" >Current Price</th>

                    <th data-sortable="true" data-field="target_price" >Target Price</th>

                    <th data-sortable="true" data-field="gap_to_target" >Gap to Target %</th>

                    <th data-sortable="true" data-field="buyrating" >Buy %</th>

                    <th data-sortable="true" data-field="earningsdate" >Earnings Date</th>

                    
                  </tr>
                </thead>

                <tbody>
                  <% @sp1.select{|s| s['marketcap_type']=="Large Cap"}.take(150).each do |sf| %>

                    
                      <% begin %>
                        <tr>
                          <td><%= sf['symbol'] %></td>
                          
                          <% if @universes_pluck.include? sf['symbol'] %>
                            <td><%= @universes.select{|u| u['displaysymbol']==sf['symbol']}[0]['description'] %></td>
                          <% else %>
                            <td>N/A</td>
                          <% end %>
                          
                          <td><%= sf['industry'] %></td>
                          
                          
                          <td><%= current = @stockprices.select{|sp| sp['symbol']==sf['symbol']}[0]['last'] %></td>


                          <% if sf['target_price'] %>
                            <td><%= target =  sf['target_price'] %></td>
                          <% else %>
                            <td>-1</td>
                          <% end %>

                        
                          <% if sf['target_price']  %>
                            <td><%= (((target-current)/current) * 100).round(1) %></td>
                          <% else %>
                            <td>-1</td>
                          <% end %>

                          <td>N/A</td>

                          <td><%= sf['next_earnings_date'] %></td>

                        </tr>
                      <% rescue StandardError, NameError, NoMethodError, RuntimeError => e %>
                        <% p e.inspect %>
                        <tr> 
                          <td><%= sf['symbol'] %></td>
                          <td>N/A</td>
                          <td><%= sf['industry'] %></td>
                          <td>N/A</td>

                          <td>N/A</td>
                          <td>N/A</td>
                          <td>N/A</td>
                          <td>N/A</td>
                        </tr>
                      <% end %>
                    

                  <% end %>
                </tbody>
              </table>
    </div>


    
  </div>
</div>