<div class="container">
          <%= form_with(model: stock) do |form| %>
            <% if stock.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

                <ul>
                  <% stock.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">

              <div class="field">
                <%= form.label :ticker %>
                <%= form.text_field :ticker, class: "form-control" %>
              </div>

              <% if type=="edit" %>

                <div class="field">
                  <%= form.label :target_price %>
                  <%= form.number_field :target_price_auto, in: 0.00..100000.00, :step => "0.01", class: "form-control" %>
                </div>

                <%= link_to 'Get Analyst Target Automatically', targetprice_path(:symbol => stock.ticker), method: :post, :remote => true %><br/>
                
                <div id="targetprice_viz" > 
                  
                </div>
                <span id="stock_target_price_view" hidden></span>
              <% end %>

              <div class="field">

                <%= form.number_field :user_id, value: current_user.id, type: :hidden  %>
              </div>

              <div class="actions">
                <%= form.submit "Save", class: "btn btn-primary" %>
              </div>

            </div>
          <% end %>
</div>

