
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Company</th>
      <th>Ticker</th>
      <th>Current Price</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <% if current_user.id==stock.user_id %>

        <% begin %>
          <% @ticker = StockQuote::Stock.quote(stock.ticker) %>
          
          
          <tr>
                <td><%= link_to @ticker.company_name, stock %></td>
                <td><%= @ticker.symbol %></td>
                <td>$<%= number_with_precision(@ticker.latest_price, :precision => 2, :delimiter => ',') %></td>
                
                <td><center><%= link_to 'Edit', edit_stock_path(stock) %></center></td>
                <td><center><%= link_to 'Delete', stock, method: :delete, data: { confirm: 'Are you sure?' } %></center></td>
          </tr>
        <% rescue RuntimeError %>
              <tr>
                <td><%= link_to "Error", stock %></td>
                <td><%= stock.ticker %></td>
                
                <td>N/A</td>
                
                <td><center><%= link_to 'Edit', edit_stock_path(stock) %></center></td>
                <td><center><%= link_to 'Delete', stock, method: :delete, data: { confirm: 'Are you sure?' } %></center></td>
              </tr>
        <% else %>
           
        <% ensure %>
           
      <% end %>







            





        
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock', new_stock_path %>
