
<h3>My Watchlist</h3><br/>



<div class="dropdown">
  <a class="btn btn-outline-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Watchlist Actions
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <%= link_to "Add New Stock to Watchlist", new_stock_path, method: :get, class: "dropdown-item" %>

    <% if current_user.email=="lagnajeetdas@gmail.com" %>
      <%= link_to "Update Analyst Targets", get_targets_for_watchlist_path, method: :post, class: "dropdown-item" %>
    <% end %>
    <a class="dropdown-item disabled" href="#">Analyze Option Strategies for All Stocks</a>
    <a class="dropdown-item disabled" href="#">Analyze Option Strategies for Watchlist Stocks</a>
  </div>
</div>

<table class="table table-bordered table-hover" data-toggle="table" data-search="true" data-pagination="true"  data-mobile-responsive="true" data-sort-name="buy_rating" data-sort-order="desc" >
  <thead class="thead-light">
    <tr>
      <th data-sortable="true" data-field="company">Company</th>
      <th data-sortable="true" data-field="symbol">Ticker</th>
      <th data-sortable="true" data-field="quote">Quote $</th>
      <th data-sortable="true" data-field="target">Target $</th>
      <th data-sortable="true" data-field="gaptotarget">Gap to Target %</th>
      <th data-sortable="true" data-field="buy_rating">Buy %</th>
      
      
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <% if current_user.id==stock.user_id %>

        <% begin %>
          <% @ticker = @tickers.select{|t| t['symbol']==(stock.ticker).upcase} %>


          <tr>
                <td><%= link_to @ticker[0]['company_name'], stock, data: {disable_with: raw("<i class='fa fa-spinner fa-spin'></i>" + " " +  @ticker[0]['company_name'] + " :  Loading options chain...")} %></td>
                <td><%= @ticker[0]['symbol'] %></td>
                <td><%= number_with_precision(@ticker[0]['latest_price'], :precision => 2) %></td>
                <td><%= stock.target_price_auto %></td>
                <td><%= number_with_precision(100 * ((stock.target_price_auto.to_f - @ticker[0]['latest_price'].to_f)/@ticker[0]['latest_price'].to_f),  :precision => 2) %></td>


                <% reco = Array[] %>
                <% buy_rating = 0 %>
                <% reco = @recommendations.select{ |r| r['symbol']==@ticker[0]['symbol'] } %>
                
                <% if !reco.empty? %>
                  <td><%=(100 * ( ((reco[0]["buy"]) +  (reco[0]["strongbuy"])) / ( (reco[0]["buy"]) +  (reco[0]["strongbuy"]) +   (reco[0]["sell"]) +  (reco[0]["strongsell"]) +  (reco[0]["hold"]) ) )).round(1) %></td>
                <% else %>
                  <td>0.0</td>
                <% end %>


                
                


          </tr>
        <% rescue RuntimeError %>
              <tr>
                <td><%= link_to "Error: Incorrect Symbol", stock %></td>
                <td><%= stock.ticker %></td>
                
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                
                

              </tr>
        <% rescue Errno::ETIMEDOUT, NoMethodError %>
              <tr>
                <td><%= link_to "Error: Quote unavailable", stock %></td>
                <td><%= stock.ticker %></td>
                
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                
                

              </tr>
        <% else %>
           
        <% ensure %>
           
        <% end %>
        
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<% if @stocks.length() > 10 %>
  <%= button_to "Add New Stock", new_stock_path, class: "btn btn-outline-success"  %>
<% end %>

