
<table class="table table-bordered table-hover" data-toggle="table" data-search="true" >
  <thead class="thead-dark">
    <tr>
      <th data-sortable="true" data-field="company">Company</th>
      <th data-sortable="true" data-field="symbol">Ticker</th>
      <th data-sortable="true" data-field="quote">Quote $</th>
      <th data-sortable="true" data-field="target">Target $</th>
      
      
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <% if current_user.id==stock.user_id %>

        <% begin %>
          <% @ticker = StockQuote::Stock.quote(stock.ticker) %>
          
          
          <tr>
                <td><%= link_to @ticker.company_name, stock %></td>
                <td><%= @ticker.symbol %></td>
                <td><%= number_with_precision(@ticker.latest_price, :precision => 2) %></td>
                <td><%= stock.target_price_auto %></td>
                

          </tr>
        <% rescue RuntimeError %>
              <tr>
                <td><%= link_to "Error: Incorrect Symbol", stock %></td>
                <td><%= stock.ticker %></td>
                
                <td>N/A</td>
                <td>N/A</td>
                

              </tr>
        <% rescue Errno::ETIMEDOUT, NoMethodError %>
              <tr>
                <td><%= link_to "Error: Quote unavailable", stock %></td>
                <td><%= stock.ticker %></td>
                
                <td>N/A</td>
                <td>N/A</td>
                

              </tr>
        <% else %>
           
        <% ensure %>
           
        <% end %>
        
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock', new_stock_path %>
