
//Function definitions
function onlyUnique(value, index, self) {
  return self.indexOf(value) === index;
}


function search(dayKey, strikeKey, myArray){
    for (var i=0; i < myArray.length; i++) {
        if (myArray[i].days === dayKey && myArray[i].strike === strikeKey ) {
            return myArray[i];
        }
    }
}

function colorcell(num){
		
		
		var roundedValue = Math.round(num / 5) * 5;
		
		
		if (num>0)
		{
			return "prof" + String(Math.min(roundedValue,200));
		}
		else
		{
			return "prof" + String(Math.max(roundedValue,-100));
		}
}

function get_td(resultObject){
	color_class = colorcell(resultObject.results.profit_perc)
	//Create TD elements with values, tooltips, color classes etc.
	return "<td title='" + resultObject.results.profit_perc  + "% Buy Price: " + resultObject.results.buy_p + " Sell Price:" + resultObject.results.sell_p   +  "' class='tooltip-test " + color_class + "' >" + resultObject.results.profit + "</td>"
}


$('#exampleModal').modal('show');


//Remove existing elements
$("#roiviz_tablehead").empty(); 
$("#roiviz_tablebody").empty(); 


//Initialize variables
var current_quote = '<%= escape_javascript( @current_quote ) %>'
//var pg = <%= escape_javascript( @price_grid ) %>

var pg = <%= raw json_escape(@price_grid.to_json) %>;

$("#ph").html(pg)
var days = <%= escape_javascript( @days ) %>
var strikes = <%= escape_javascript( @strikes ) %>
strikes = strikes.reverse()
strikes = strikes.filter(onlyUnique);

html = "<th></th>"
th_html_days = ""
$(html).appendTo('#roiviz_tablehead') ;



var days_step = 1
if (days.length > 20)
{
	days_step = Math.ceil(days.length / 20)
}


//Iterate over days
for(i=(days.length-1); i>=0; i = i - days_step)
{
	th_html_days += "<th>" + i + "</th>"
}

if (i!==0)
{
	th_html_days += "<th>Exp</th>"
}

//Add days as headers to table
$(th_html_days).appendTo('#roiviz_tablehead') ;


var tr_html_strikes = ""



//Iterate over strikes
for(i=0; i<strikes.length; i++)
{
	

	var td_html_profit = ""
	var color_class = ""

	//Iterate over days with days_step
	for(k=(days.length-1); k>=0; k= k - days_step)
	{
		//Create TD elements with values, tooltips, color classes etc.
		td_html_profit += get_td(search(k, strikes[i], pg));
	}
	if(k!==0)
	{
		td_html_profit += get_td(search(0, strikes[i], pg));
	}



	tr_html_strikes = "<tr id='" + strikes[i] + "'><th>" + strikes[i] + "</th>" + td_html_profit + "</tr>"
	$(tr_html_strikes).appendTo('#roiviz_tablebody') ;


	//console.log(td_html_profit)
	//$(td_html_profit).appendTo('#' + String(strikes[i])) ;

}

$("#roiviz_table td").addClass("small_text");
$("#roiviz_table th").addClass("small_text");

//$("td:contains('-')").addClass('deepredBg');
