
//Function definitions
function onlyUnique(value, index, self) {
  return self.indexOf(value) === index;
}

$('#exampleModal').modal('show');


//Remove existing elements
$("#roiviz_tablehead").empty(); 
$("#roiviz_tablebody").empty(); 


//Initialize variables
var current_quote = '<%= escape_javascript( @current_quote ) %>'
//var pg = <%= escape_javascript( @price_grid ) %>

var pg = <%= raw json_escape(@price_grid.to_json) %>;

$("#ph").html(pg)
var days = <%= escape_javascript( @days ) %>
var strikes = <%= escape_javascript( @strikes ) %>
strikes = strikes.reverse()
strikes = strikes.filter(onlyUnique);

html = "<th></th>"
th_html_days = ""
$(html).appendTo('#roiviz_tablehead') ;


//Iterate over days
for(i=(days.length-1); i>=0; i--)
{
	th_html_days += "<th>" + i + "</th>"
}

//Add days as headers to table
$(th_html_days).appendTo('#roiviz_tablehead') ;


var tr_html_strikes = ""
var td_html_profit = ""


//Iterate over strikes
for(i=0; i<strikes.length; i++)
{
	tr_html_strikes = "<tr id='" + strikes[i] + "''><td>" + strikes[i] + "</td></tr>"
	$(tr_html_strikes).appendTo('#roiviz_tablebody') ;
}



for(i=(days.length-1); i>=0; i--)
{
	//console.log(pg[0])
	td_html_profit += "<td>" + '' + "</td>"
}
