<%= form_with(model: optionbookmark) do |form| %>
  <% if optionbookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(optionbookmark.errors.count, "error") %> prohibited this optionbookmark from being saved:</h2>

      <ul>
        <% optionbookmark.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :longleg %>
    <%= form.text_field :longleg %>
  </div>

  <div class="field">
    <%= form.label :shortleg %>
    <%= form.text_field :shortleg %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
