<p id="notice"><%= notice %></p>

<h3>Options Bookmarks</h3>

<table class="table table-bordered table-hover" data-toggle="table" data-search="true" data-pagination="true"   data-detail-view="true"  data-show-columns="true" >
  <thead class="thead-light" >
    <tr>
      <th>Underlying</th>
      <th>Long Leg</th>
      <th>Short Leg</th>
      <th>Expiry</th>
      <th>Bookmarked since</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @optionbookmarks.each do |optionbookmark| %>
      <tr>
        <td><%= optionbookmark.underlying %></td>
        <td><%= optionbookmark.longleg %></td>
        <td><%= optionbookmark.shortleg %></td>
        <td><%= optionbookmark.e_date %></td>
        <td><%= optionbookmark.created_at %></td>
        
        
        <td><%= link_to 'Delete', optionbookmark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
