<div class="container">

  <h3>Options Observer</h3>

  <!-- Nav tabs -->
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <!--<li class="nav-item">
      <a class="nav-link" id="high_open_interest_options-tab" data-toggle="tab" href="#high_open_interest_options" role="tab" aria-controls="high_open_interest_options" aria-selected="true">High Open Interest</a>
    </li>-->
    <li class="nav-item">
      <a class="nav-link" id="call_debit_spreads-tab" data-toggle="tab" href="#call_debit_spreads" role="tab" aria-controls="call_debit_spreads" aria-selected="false">Bullish Spreads</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" id="sell_puts-tab" data-toggle="tab" href="#sell_puts" role="tab" aria-controls="sell_puts" aria-selected="false">Sell Puts</a>
    </li>
    
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    

    <div class="tab-pane" id="call_debit_spreads" role="tabpanel" aria-labelledby="call_debit_spreads-tab">
      <br/>
      <h5>Top call debit spreads scenarios </h5>
      <p>Analyzed <%= @Optionscenario_count %> scenarios </p>
      <br/>

              <table class="table table-bordered table-hover"   data-toggle="table" data-pagination="true"  data-filter-control="true">
                <thead class="thead-dark">
                  <tr>
                    <th data-sortable="true" data-field="underlying_scenario_call_debit" data-filter-control="select">Underlying</th>
                    <th data-sortable="true" data-field="description_scenario_call_debit" data-filter-control="select">Description</th>
                    <th data-field="expiry_scenario_call_debit" data-filter-control="select">Expiry</th>
                    <th data-field="industry_scenario_call_debit" data-filter-control="select">Industry</th>
                    <th data-sortable="true" data-field="quote_scenario_call_debit">Stock Price</th>
                    <th data-sortable="true" data-field="buy_strike">Buy Strike</th>
                    <th data-sortable="true" data-field="sell_strike">Sell Strike</th>
                    <th data-sortable="true" data-field="risk">Risk</th>
                    <th data-sortable="true" data-field="reward">Reward</th>    
                    <th data-sortable="true" data-field="rr_ratio">R/R</th> 
                    <th data-sortable="true" data-field="perc_change">Upside Reqd %</th> 
                  </tr>
                </thead>

                <tbody>
                  <% @best_rr_options.each do |best_rr| %>

                    <tr>
                      <td><%= best_rr.underlying %></td>
                      <td><%= best_rr.company %></td>
                      <td><%= best_rr.expiry_date %></td>
                      <td><%= best_rr.industry %></td>
                      <td><%= best_rr.quote %></td>
                      <td><%= best_rr.buy_strike.round(1)  %></td>
                      <td><%= best_rr.sell_strike.round(1) %></td>
                      <td><%= best_rr.risk.round(1) %></td>
                      <td><%= best_rr.reward.round(1) %></td>
                      <td><%= best_rr.rr_ratio.round(1) %></td>
                      <td><%= best_rr.perc_change.round(1) %></td>

                    </tr>
                  <% end %>
                </tbody>
              </table>
    </div>


    <div class="tab-pane active" id="sell_puts" role="tabpanel" aria-labelledby="sell_puts-tab">
      <br/>
      <h5>Sell Puts </h5>
      <p>Analyzed <%= @Optionputsells_count %>  scenarios </p>
      <br/>

              <table class="table table-bordered table-hover"   data-toggle="table" data-pagination="true"  data-filter-control="true">
                <thead class="thead-dark">
                  <tr>
                    <th data-sortable="true" data-field="underlying_sell_puts" data-filter-control="select">Underlying</th>
                    <th data-sortable="true" data-field="description_sell_puts" data-filter-control="select">Description</th>
                    <th data-field="expiry_sell_puts" data-filter-control="select">Expiry</th>
                    <th data-field="industry_sell_puts" data-filter-control="select">Industry</th>
                    <th data-sortable="true" data-field="quote_sell_puts">Stock Price</th>
                    <th data-sortable="true" data-field="strike_sell_puts">Strike</th>
                    <th data-sortable="true" data-field="bid_sell_puts">Bid</th>
                    <th data-sortable="true" data-field="premiumratio_sell_puts">Premium Ratio</th>
                    
                  </tr>
                </thead>

                <tbody>
                  <% @best_sp_options.each do |best_sp| %>

                    <tr>
                      <td><%= best_sp.underlying %></td>
                      <td><%= best_sp.company %></td>
                      <td><%= best_sp.expiry_date %></td>
                      <td><%= best_sp.industry %></td>
                      <td><%= best_sp.quote %></td>
                      <td><%= best_sp.strike.round(1)  %></td>
                      <td><%= best_sp.bid.round(1) %></td>
                      <td><%= best_sp.premiumratio.round(2) %></td>


                    </tr>
                  <% end %>
                </tbody>
              </table>


    </div>
    
  </div>
</div>